# Output directories
bin/**
tmp/**
obj/**
vs/obj
vs/obj/**
x64/**
test/bin/**
test/tmp/**
examples/bin/**
examples/tmp/**
*.dll
*.lib
# VS files
*.vcxproj.user
*.VC.db
*.opendb

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.vs

# Executables
*.exe
*.out
*.app

tmp*.bat
__*.bat